---
import Layout from '../../layouts/Layout.astro';
import ProfileApp from '../../components/cuenta/ProfileApp';
---

<Layout showProfileSwitcher={true}>
  <main>
    <ProfileApp client:only="react" />
  </main>
</Layout>
